* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 150px;
}

/* View High Scores Link */

h2 {
  color: #b244e3;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 100;
}

.timer {
  margin-right: 30px;
  font-size: 25px;
}

/* Global button */

.btn {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  background-color: #351c75;
  padding: 10px 25px;
  border-radius: 10px;
  align-items: center;
  border: none;
}

.btn:hover,
.options ul li:hover {
  background-color: #bd60e7;
  cursor: pointer;
}

.hide {
  display: none;
}

/* Main section */

main {
  margin: auto;
  width: 60%;
}

/* Controls title of get started, questions, all done, and high scores screens */
h3 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

/* Controls subheadings of title, all done and high scores screens */
.sub-heading {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 33px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

/* Start Page Screen */

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page .btn {
  max-width: 400px;
  align-items: center;
  padding: 20px 50px;
  margin: 10px;
  font-size: 30px;
  border-radius: 15px;
}

/* Multiple choice options */

.options h3 {
  text-align: left;
}

.options .option-buttons {
  display: flex;
  flex-direction: column;
}

.option-buttons .option {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 300px;
  max-width: 400px;
  font-weight: 100;
  text-align: left;
  font-size: 24px;
  background-color: #351c75;
  padding: 20px 30px;
  margin: 10px 0;
  border-radius: 15px;
}

/* Correct or wrong  */

.correct-wrong {
  font-size: 30px;
  letter-spacing: 0.1rem;
  font-weight: 300;
  font-style: italic;
  color: #9e9e9e;
  margin-top: 30px;
  border-top: 30px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #9e9e9e;
  padding-top: 10px;
  padding-left: 10px;
}

/* Quiz Complete Screen */

.quiz-complete {
  display: flex;
  flex-direction: column;
}

.quiz-complete h3,
.quiz-complete p {
  text-align: left;
}

.quiz-complete label,
.quiz-complete input {
  font-size: 30px;
  text-align: left;
  margin-right: 30px;
}
.quiz-complete input {
  padding: 7px 0 7px 15px;
}

.quiz-complete .btn {
  display: inline;
}

/* High scores screen */

.high-scores {
  display: flex;
  flex-direction: column;
}

.high-scores h3,
.high-scores p {
  text-align: left;
}

.hs-btn-container {
  width: 800px;
}

.high-scores li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 24px;
  background-color: #d9d3e9;
  padding: 15px 30px;
  margin: 15px 0;
  flex-wrap: nowrap;
  list-style-type: none;
}

.high-scores .btn {
  margin: 20px 15px 0 0;
  display: inline-block;
}
